// $primary: #112435;
$primary: #1d2631;
// $primary: #222629;
// $primary: #1c3334;
// $primary: #112d32;
// $primary: #17252a;
// $primary: #182628;
// $primary: #1a1c2c;
$secondary: #fc4445;
// $secondary: #c96667;
// $secondary: #e85a4f;
$dark: #6f2232;
$white: #d4d4dc;

$sans: "Roboto", sans-serif;

$shadow: 0 0 20px -10px black;
