@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem 1vw;
  }
  .home {
    &-icons {
      grid-template-columns: 1fr 1fr;
      &-icon {
        height: 28vw;
        &-title {
          height: 12.5%;
          & > span {
            font-size: 1.5vw;
          }
        }
      }
    }
  }
  .verify {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;

    &-brand,
    &-form {
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      justify-self: center;
    }
    &-brand {
      width: 50%;
      display: flex;
      align-items: center;
    }
    &-form {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      &-header {
        margin-top: 5vh;
      }
      &-fields {
        margin: 1rem 0;
        & > input {
          height: 3.5rem;
          margin: 0.25rem 0;
        }
      }
      &-feedback {
        margin-bottom: 12vh;
      }
      &-spinner {
        margin-bottom: 5rem;
        padding-left: 0;
      }
    }

    &-control {
      margin-bottom: 3vh;
    }
  }

  .store {
    &-control {
      width: 100%;
    }
    &-list {
      grid-template-columns: repeat(2, 1fr);
      &-item {
        height: 30vw;
      }
    }
  }

  .item {
    grid-template-columns: 1fr;
  }

  .account {
    &-section {
      &-form {
        &-group {
          &-inputs {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
      &-footer {
        grid-template-columns: 4fr 2fr;
      }
    }
  }

  .checkout {
    width: 90%;
    &-info {
      &-section {
        &-inputs {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
