.orders {
  padding: 1rem 1vw;

  &-header {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    &-entry {
      width: 100%;

      margin: 0.75rem 0;
      padding: 0.5vmin 1vw;

      background-color: lighten($color: $primary, $amount: 10);
      border-bottom: solid 2px;
      border-color: $secondary;

      box-shadow: $shadow;
      transition: 250ms;

      &:hover {
        filter: brightness(1.25);
      }

      &-row {
        display: grid;
        grid-template-columns: 50% auto auto;
        font-size: 2.5vmin;
        padding: 0 2vw 0.25vw;

        &-col {
          &:nth-of-type(3) {
            text-align: right;
          }
          & > div > span {
            font-size: 0.75em;
            font-weight: 300;
            margin: 0 0.125vw;
          }
          & > div > strong {
            font-size: 0.75em;
            margin: 0 0.125vw;
            font-weight: 500;
            font-style: italic;
            &.pending {
              color: cyan;
            }
            &.completed {
              color: lime;
            }
          }
        }

        &:nth-of-type(3) {
          padding: 2rem 2vw 2rem;
          border-top: dashed 1px;
          border-bottom: dashed 1px;
          border-color: inherit;
          background-color: darken($color: $primary, $amount: 3);
          .orders-list-entry-row-col {
            & > div > strong {
              font-style: normal;
              font-weight: 700;
              font-size: 1em;
              margin: 0 0.125vw;
              color: lighten($color: $primary, $amount: 60);
              & > a {
                color: lighten($color: $primary, $amount: 60);
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        &:nth-of-type(4) > &-col {
          &:nth-of-type(3) {
            & > div > strong {
              font-style: normal;
              font-weight: 700;
              font-size: 1.25em;
            }
          }
        }
      }

      &-spinner {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
