@import "roboto";
@import "config";

::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  background-color: $primary;
  color: $white;
  font-size: 1rem;
  font-family: $sans;
  font-weight: 400;
}

input {
  outline: none;
  border: none;

  font-family: $sans;

  width: 100%;

  padding: 0 0.75rem;

  background-color: darken($color: $primary, $amount: 3.5);
  color: $white;
  border-bottom: solid 1px $dark;
  box-shadow: $shadow;

  font-weight: 500;
  transition: 250ms;
  &:focus {
    border-color: $secondary;
    filter: brightness(1.125);
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: 250ms;
  &.disabled {
    opacity: 0.25;
    cursor: none;
    pointer-events: none;
  }
  &:hover {
    filter: brightness(1.25);
  }
}

a {
  color: $white;
  text-decoration: none;
}

.container {
  padding: 1rem 2vw;
  margin-top: 1rem;
}

img.brand {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  user-select: none;
  transition: 250ms;
  &:hover {
    filter: brightness(1.25) saturate(1.25);
  }
}

.disclaimer {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;

  font-size: 0.75rem;
  opacity: 0.5;
}

@import "animations";
@import "spinner";
@import "navbar";
@import "homepage";
@import "verifypage";
@import "accountpage";
@import "storepage";
@import "itempage";
@import "checkoutpage";
@import "orderspage";
@import "errorpage";
@import "media";
